#chat-screen {
    background-color: #ABC1D1;
    height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    background-color: #ABC1D1;
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    top: 10px;
    z-index: 1;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin-right: 10px;
}

.message__author {
    margin-bottom: 15px;
    display: block;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 20%;
    margin-right: 5px;
}

.message__author,
.message__time {
    opacity: 0.8;
    font-size: 13px;
}