.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons__icons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.find-icons__icons i {
    font-size: 35px;
}

.find-icons__icons span {
    margin-top: 18px;
}

.recommended-friends {
    margin: 25px 0;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: var(--grey50);
}

.recommended-friends span {
    margin: 100px 0;
    display: block;
    text-align: center;
    color: var(--grey50);
    font-size: 18px;
}

.open-chats__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chats__header span {
    opacity: 0.6;
}