* {
    box-sizing: border-box;
}

:root {
    --main-padding: 15px;
    --main-grey: rgba(0, 0, 0, 0.2);
    --main-red: rgb(140, 21, 21);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.nav {
    width: 100%;
    height: 130px;
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.nav_title {
    width: 33%;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 90%;
    padding: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: -30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    color: var(--main-grey);

}

.searchInput_Input {
    border: none;
}

.searchInput_Input::placeholder {
    font-size: 15px;
    color: var(--main-grey);
}

main {
    padding: var(--main-padding);
}

.trendOfTheDay_imgAndInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
}

.trendOfTheDay_img,
.topCollection_collection_img,
.popularDesigners_img {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trendOfTheDay_info {
    height: 200px;
    padding-left: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
}

.trendOfTheDay_title {
    font-size: 25px;
    font-weight: 400;
}

.trendOfTheDay_subTitle {
    color: var(--main-grey);
}

.star-full {
    color: var(--main-red);
}

.star-empty {
    color: var(--main-grey);
}

.trendOfTheDay_type,
.trendOfTheDay_btns {
    display: flex;
    align-items: center;
}

.trendOfTheDay_type_btn {
    padding: 8px;
    margin-right: 10px;
    background-color: var(--main-grey);
    padding: 10px;
}

.trendOfTheDay_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trendOfTheDay_btns-bookmark {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    border-radius: 50%;
    background-color: var(--main-red);
    color: white;
}

.trendOfTheDay_btns-shop {
    padding: var(--main-padding);
    width: 150px;
    background-color: black;
    color: white;
}

.trendOfTheDay_type_btn,
.trendOfTheDay_btns-bookmark,
.trendOfTheDay_btns-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trendOfTheDay_type_btn,
.trendOfTheDay_btns-shop {
    border-radius: 5px;
}

.topBrands {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.topBrands__collections {
    display: flex;
    margin-right: 15px;
    justify-content: space-between;
}

.topCollection_collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topCollection_collection_img {
    width: 100px;
    height: 150px;
}

.topCollection_collection_stars {
    margin: 10px 0;
    font-size: 12px;
}

.popularDesigners_imgAndArticle {
    display: flex;
    justify-content: flex-start;
}

.popularDesigners_img {
    width: 150px;
    height: 200px;
}

.popularDesigners_article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-left: 30px;
}

.popularDesigners_article span {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

p {
    color: var(--main-grey);
    font-size: 18px;
}