body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #6BBCBE;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes rotate180 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}


.circles {
    width: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: rotate180 1s ease-in-out infinite;
}


.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
}

.bars {
    width: 100px;
    display: flex;
    justify-content: center;
}

@keyframes stretch {
    0% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(1.8);
    }

    100% {
        transform: scaleY(1);
    }
}

.bar {
    width: 10px;
    height: 40px;
    background-color: white;
    margin: 0 5px;
    animation: stretch 1s ease-in-out infinite;
}


.bar:first-child {
    animation-delay: 0.1s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.3s;
}

.bar:nth-child(4) {
    animation-delay: 0.4s;
}

.bar:nth-child(5) {
    animation-delay: 0.5s;
}